# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# add a trailing slash to /wp-admin
RewriteRule ^wp-admin$ wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^(wp-(content|admin|includes).*) $1 [L]
RewriteRule ^(.*\.php)$ $1 [L]
RewriteRule . index.php [L]
</IfModule>

RewriteCond %{HTTP_HOST} ^alixmzmz.eu$ [NC]
RewriteRule ^(.*)$ https://www.alixmzmz.eu/$1 [R=301,L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^alixmzmz.eu [NC,OR]
RewriteCond %{HTTP_HOST} ^www.alixmzmz.eu [NC]
RewriteRule ^(.*)$ https://www.alixmzmz.eu/$1 [L,R=301,NC]
# END WordPress
