h1,h2,h3,h4,h5,h6 { font-family: "Open Sans Condensed"; }

body,p { font-family: 'Helvetica Neue',Arial, Helvetica Neue, sans-serif; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: white url(../img/bg.jpg) repeat 0 0;
  color: #222;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default; }

a {
  color:#EB452C;
  text-decoration:none;
}

a:hover {
  cursor: pointer; 
  text-decoration:underline;
  }

a:focus {
  outline: none; }

    h1, h2 { 
      line-height:1em;
      text-transform: uppercase;
    }
    
  h1 {
    color:#141315;
    font-size: 6em;
    font-weight:600;
    letter-spacing:0;     
    margin-bottom: 0.4em;
  }

    h2 {
      color:#919191;
      font-size:4em;
      font-weight:100;
      letter-spacing:0;
      margin-bottom:0.8em;
    }
img {
  -ms-interpolation-mode: bicubic; }

div { top:0; }
.left {
  float: left !important; }

.right {
  float: right !important; }

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 48.5em;
  *zoom: 1; }

p {
  margin-bottom:1.2em;
  font-size:1.14em;
  color: #666;
  line-height:1.6em;
}

html, body {
    margin:0;
    padding:0;
    height:1900px;
}

#progress {
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    z-index:-1;
}

#main {
    padding:40px 0;
    z-index:999999;
}

#bar {
    width:0%;
    height:100%;
    position:relative;
    background:#ddd url(../img/thankYou.png) no-repeat 50% 50%;
    opacity:0.7;
    -webkit-transition:width 0.3s;
    -moz-transition:width 0.3s;
    -o-transition:width 0.3s;
    -ms-transition:width 0.3s;
    transition:width 0.3s;
}

  .block {
      width:100%;
      height:10px;
      float:left;
      z-index:9999;
    }

    .fixed { 
      position:fixed;
      width:100%;
    }
  .color-one { background:#F01413; }

  #buttons {
    display:none;
    float:left;
    height:65px;
    left:50%;
    margin-left:-450px;
    position:fixed;
    top:80%;
    width:900px;
  }

  a.btn-info {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 6px;
    text-shadow:none;
    border:none;
    padding:20px 10px;
    float:left;
    font-weight:300;
    font-family: "Open Sans Condensed";
    width:250px;
    margin:0 25px;
    text-align:center;
    font-size:1.4em;    
    color:white;
    z-index:999999;
  }
  .btn-info { background: #3b3a35; }
  .btn-info:hover { 
    background:#0AE6E7; 
    opacity:1;
  }
